<div class="ui two column page grid">
  <div class="centered column">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put },
                 html: {class: 'ui form segment'}) do |f| %>
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, disabled: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="ui grid">
        <div class="eight wide column">
          <a href="#" id="remove-account-btn">Remove my account</a>
        </div>
        <div class="eight wide right aligned column">
          <div class="actions">
            <%= f.submit "Update", class: 'ui submit button', id: 'update_button' %>
          </div>
        </div>
    <% end %>
  </div>
  <%= link_to "Back", :back %>
</div>
<div class="ui modal" id="remove-account">
  <div class="header">
    Delete Account
  </div>
  <div class="content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource), method: :delete, html: {class: 'ui form', id: 'delete_account'}) do |f| %>
      <div class="ui error message"></div>
      <div class="field">
        <%= f.label :password %> <i>(We need your current password to confirm)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="actions">
        <%= f.submit class: 'ui ok submit button', id: 'delete-account-btn', value: "Delete Account" %>
        <div class="ui hide-modal button" id="modal-close-button">Cancel</div>
      </div>
    <% end %>
  </div>
</div>
