<div class="ui centered page grid">
  <div class="eight wide column">

    <%= form_for resource, as: resource_name, url: registration_path(resource_name),
        html: { method: :put, class: 'ui large form segment' } do |f| %>
      <h1 class="ui header">User profile</h1>
      <div class="ui divider"></div>

      <div class="required field">
        <%= f.label :current_password %>
        <div class="ui icon input">
          <%= f.password_field :current_password, autocomplete: "off" %>
          <i class="lock icon"></i>
        </div>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div style="float: right">
        <div class="ui buttons">
          <%= f.submit 'Update', class: 'ui submit positive button', id: 'update_button' %>
          <div class="or"></div>
          <a class="ui negative button" href="javascript:void(0)" id="remove-account-btn">Delete Account</a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="twelve wide column">
    <% unless devise_error_messages!.empty? %>
      <div class="ui error message">
        <i class="close icon"></i>
        <div class="content">
          <%= devise_error_messages! %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="ui modal" id="remove-account">
  <div class="header">
    Delete Account
  </div>
  <div class="content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource), method: :delete, html: {class: 'ui form', id: 'delete_account'}) do |f| %>
      <div class="ui error message"></div>
      <div class="field">
        <%= f.label :password %> <i>(We need your current password to confirm)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="actions">
        <%= f.submit class: 'ui ok submit button', id: 'delete-account-btn', value: "Delete Account" %>
        <div class="ui hide-modal button" id="modal-close-button">Cancel</div>
      </div>
    <% end %>
  </div>
</div>
