<div class="ui header aligned center">
  <%= link_to '<', {controller: 'calendar', action: 'index', year: @prev_year, month: @prev_month}, class: 'calendar link prev' %>&nbsp;
  <%= @year %>.<%= @month %>&nbsp;
  <%= link_to '>', {controller: 'calendar', action: 'index', year: @next_year, month: @next_month}, class: 'calendar link next' %>
</div>

<table class="ui celled table calendar">
  <thead>
    <tr>
      <% for wday in %w(Sun Mon Tue Wed Thu Fri Sat) %>
        <th class="ui center aligned"><%= wday %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% day = -@start_wday %>
  <% week = 0 %>
    <tr>
    <% while(day < @last_day) %>
      <% if day < 0 %>
        <td></td>
      <% else %>
        <td><%= day + 1 %></td>
      <% end %>
      <% day += 1 %>
      <% week += 1 %>
      <% if week == 7 %>
      </tr>
      <tr>
        <% week = 0 %>
      <% end %>
    <% end %>
    <% while(week < 7 ) %><td></td><% week += 1 %><% end %>
  </tr>
  </tbody>
</table>
