<div class="ui centered page grid">
  <div class="ten wide column">
    <h1 class="ui header">Forgot your password?</h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="ui form">
        <div class="required field">
          <%= f.label :email %>
          <div class="ui icon input">
            <%= f.email_field :email, autofocus: true, placeholder: 'your.email@address'  %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.submit 'Send me reset password instructions', class: 'ui submit button' %>
        </div>
      </div>

      <% unless devise_error_messages!.empty? %>
        <div class="ui error message">
          <i class="close icon"></i>
          <div class="content">
            <%= devise_error_messages! %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="ui divider"></div>
    <div style="float: right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
