  <div class="header">
    Add a new Schedule in <%= @due_date.strftime("%Y-%m-%d") %>
  </div>
  <div class="content">
    <%= form_for @schedule, url: {action: 'create'}, remote: true, html: {class: 'ui form'} do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :name, required: true %>
      </div>
      <div class="field">
        <%= f.label :course %>
        <%= select :schedule, :course, current_user.courses.map { |course| [course.name + " (" + course.code + ")", course.id] }, {}, {class: 'ui dropdown', required: true} %>
      </div>
      <div class="field">
        <%= f.label :schedule_type %>
        <%= select :schedule, :schedule_type, Schedule.schedule_types.to_a.map { |type| [type[0], type[0]] }, {}, {class: 'ui dropdown', required: true} %>
      </div>
      <div class="field">
        <%= f.label :due %>
        <%= f.text_field :due_time, required: false, placeholder: "Late 6:00, 23:59, ..." %>
      </div>
      <div class="field">
        <%= f.label :initial_comment %>
        <%= f.text_area :content, required: true %>
      </div>
      <div class="actions">
        <%= f.submit class: 'ui submit button', id: 'modal-add-button' %>
        <div class="ui hide-modal button" id="modal-close-button">Cancel</div>
      </div>
    <% end %>
  </div>
