<i class="close icon"></i>
<div class="header">
  Schedule in <%= @schedule.due_date.strftime('%Y-%m-%d') %>
</div>
<div class="content">
  <% course = @schedule.course %>
  <table class="ui very basic table">
    <tr>
      <td><b>Title</b></td>
      <td><%= @schedule.name %></td>
    </tr>
    <tr>
      <td><b>Course</b></td>
      <td><%= course.name %> (<%= course.code %>)</td>
    </tr>
    <tr>
      <td><b>Type</b></td>
      <td><%= @schedule.schedule_type %></td>
    </tr>
    <tr>
      <td><b>Due</b></td>
      <td><%= @schedule.due_date.strftime('%Y-%m-%d') %> <%= @schedule.due_time if not @schedule.due_time.nil? %></td>
    </tr>
    <tr><td colspan="2"><br><%= simple_format(@schedule.content) %></td></tr>
  </table>
  <h3>Comments</h3>
  <div class="ui celled list comment-list">
    <% unless @schedule.comments.empty? %>
      <% @schedule.comments.each do |comment| %>
        <div class="item comment">
          <div class="content">
            <div class="header">
              <%= comment.user.email %>
              <% if current_user == comment.user %>
                <%= link_to({action: :destroy, controller: 'comment', schedule_id: @schedule.id, id: comment.id}, {method: :delete, remote: true, class: 'delete-comment-btn'}) do %>
                  <i class="remove icon"></i>
                <% end %>
              <% end %>
            </div>
            <%= simple_format(comment.content) %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="item no-comment">
        <div class="header">There is no comment.</div>
      </div>
    <% end %>
  </div>
  <%= form_for @comment, url: {action: :create, controller: :comment, schedule_id: @schedule.id}, remote: true, method: :post, html: {class: 'ui form comment-form'} do |f| %>
    <div class="ui error message"></div>
    <%= f.text_area :content %>
    <div class="actions">
      <%= button_tag 'Add Comment', type: 'submit', id: 'modal-add-button', class: 'ui ok button' %>
      <div class="ui hide-modal button" id="modal-close-button">Close</div>
    </div>
  <% end %>
</div>
