<div class="ui page grid">
  <div class="five wide column">
    <div class="ui segment">
      <div class="ui top attached label">
        <span class="modified-size-icon"><i class="user icon"></i></span>
        <span style="font-size:15px"><%= current_user.email %></span>
      </div>
      <div class="ui fluid search">
        <div class="ui fluid icon input">
          <input id="search_box" class="prompt" type="text" placeholder="Search Course">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <div class="ui list" id="course-list">
        <% current_user.courses.each do |c| %>
          <p class="item">
            <%= c.name %> (<%= c.code %>) - <%= c.prof %>
            <a href="#" data-course-id="<%= c.id %>" class="delete-course">
              <i class="icon trash"></i>
            </a>
          </p>
        <% end %>
      </div>
    </div>
    <div class="ui center aligned segment">
      <div class="feature_box">
        <h2 class="ui icon header">
          <i class="huge graduation icon"></i>
          <div class="content">
            Following Courses
            <div class="sub header">
              courese search and follow services, Now available.
            </div>
          </div>
        </h2>
      </div>
    </div>
    <div class="ui center aligned segment">
      <div class="feature_box">
        <h2 class="ui icon header">
          <i class="huge browser icon"></i>
          <div class="content">
            Courses Timeline
            <div class="sub header">
              periodical timeline crawling services, now available.
            </div>
          </div>
        </h2>
      </div>
    </div>
    <div class="ui center aligned segment">
      <div class="feature_box">
        <h2 class="ui icon header">
          <i class="huge calendar icon"></i>
          <div class="content">
            Shared Calendar
            <div class="sub header">
              sharing schedule management services, now available.
            </div>
          </div>
        </h2>
      </div>
    </div>
    <div class="ui center aligned segment">
      <div class="feature_box">
        <h2 class="ui icon header">
          <i class="huge comments icon"></i>
          <div class="content">
            Comments
            <div class="sub header">
              user-creative comments services, now working on it.
            </div>
          </div>
        </h2>
      </div>
    </div>
  </div>
  <div class="eleven wide column">
    <div class="main timeline">
      <div class="ui list" id="timeline-list">
      </div>
      <a href="#" class="timeline-next">Loading...</a>
    </div>
    <div class="main calendar">
    </div>
  </div>
</div>
<div id="modal" class="ui modal"></div>
