<div class="ui page grid">
  <div class="five wide column">
    <div class="ui segment">
      <div class="ui fluid search">
        <div class="ui fluid icon input">
          <input class="prompt" type="text" placeholder="Search Course">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <div class="ui list" id="course-list">
        <% current_user.course.each do |c| %>
          <p class="item">
            <%= c.name %>
            <a href="#" data-course-id="<%= c.id %>" class="delete-course">
              <i class="icon trash"></i>
            </a>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="eleven wide column">
    <div class="ui list">
      <% current_user.timeline_initial.each do |tl| %>
        <div class="ui fluid card">
          <div class="content">
            <div class="header"><%= tl.site.course.name %></div>
            <div class="meta"><%= time_ago_in_words(tl.created_at, include_seconds: true) %></div>
            <div class="description">
              <%= raw tl.message %>
              <p>
                <a href="<%= tl.site.url %>"><%= tl.site.url %></a>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
