<% if @timeline.each do |tl| %>
  <div class="ui fluid card" data-timeline-id="<%= tl.id %>">
    <div class="content">
      <div class="header"><%= tl.site.course.name %></div>
      <div class="meta"><%= time_ago_in_words(tl.created_at, include_seconds: true) %></div>
      <div class="description">
        <%= raw tl.message %>
        <p>
          <a href="<%= tl.site.url %>"><%= tl.site.url %></a>
        </p>
      </div>
    </div>
  </div>
<% end.empty? %>
<% if not @ajax %>
<div class="ui fluid card">
  <div class="content">
    <div class="description">
      You don't describe any course or no course have notification!
    </div>
  </div>
</div>
<% end %>
<% end %>
