<div class="ui page grid">
  <div class="eleven wide column">
  </div>
  <div class="five wide column">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: :login, name: :login, class: 'ui row form segment'}) do |f| %>
      <h2 class="ui header">Log in</h2>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: 'SNU Email' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
      </div>

      <div class="ui grid row">
        <% if devise_mapping.rememberable? -%>
          <div class="eight wide column inline field ">
            <div class="ui checkbox">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </div>
        <% end -%>

        <div class="eight wide column right aligned actions">
          <%= f.submit "Log in", class: 'ui submit button', id: 'login_button' %>
        </div>
      </div>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end -%>
    <% end %>

    <form id="new_user" class="ui row form segment" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <h2 class="ui header">Sign Up</h2>


      <div class="field">
        <input placeholder="SNU Email" type="email" value="" name="user[email]" id="signup_email" />
      </div>

      <div class="field">
        <input autocomplete="off" placeholder="Password" type="password" name="user[password]" id="signup_password" />
      </div>

      <div class="field">
        <input autocomplete="off" placeholder="Password Confirm" type="password" name="user[password_confirmation]" id="signup_password_confirmation" />
      </div>

      <div class="ui grid row">
        <div class="column right aligned actions">
          <input type="submit" name="commit" value="Sign up" class="ui submit button" id="signup_button" />
        </div>
      </div>
    </form>
  </div>
</div>
