<p id="notice"><%= notice %></p>

<div class="ui compact segment">
  <h1 class="ui header">
    <i class="ui browser icon"></i>
    Listing Sites
  </h1>

  <table class="ui table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Crawling type</th>
        <th>Course id</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <% @sites.each do |site| %>
      <tr>
      <td><%= site.name %></td>
      <td><a href="<%= site.url %>" target="_blank"><%= site.url %></a></td>
      <td><%= site.crawling_type %></td>
      <td><%= site.course_id %></td>
      <td><%= link_to 'Show', site %></td>
      <td><%= link_to 'Edit', edit_site_path(site) %></td>
      <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="ui tag label">
  <%= link_to 'New Site', new_site_path %>
</div>
