<!DOCTYPE html>
<html>
<head>
  <title>Snucms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if not notice.nil? %>
  <div class="ui icon success message">
    <i class="close icon"></i>
    <div class="content">
      <p class="notice"><%= notice %></p>
    </div>
  </div>
<% end %>
<% if not alert.nil? %>
  <div class="ui icon error message">
    <i class="close icon"></i>
    <i class="attention circle icon"></i>
    <div class="content">
      <p class="alert"><%= alert %></p>
    </div>
  </div>
<% end %>
<br>
<div class="ui page grid">
  <div class="ten wide column">
    <h1 class="ui header">SNUCSE CMS</h1>
  </div>
  <div class="four wide column right aligned">
    <% if user_signed_in? %>
      <i class="user icon"></i>
      <%= current_user.email %>
      </div>
    <% end %>
  <div class="two wide column right aligned">
      <% if user_signed_in? %>
        <% unless edit_user_registration_path == request.path %>
          <%= link_to edit_user_registration_path do %>
            <div class="column">
              <i class="icon settings" id="edit_button"></i>
            </div>
          <% end %>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <div class="column">
            <i class="icon sign out" id="logout_button"></i>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
<%= yield %>

</body>
</html>
