<!DOCTYPE html>
<html>
<head>
  <title>Snucms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<br>
<div class="ui page grid">
  <div class="sixteen wide column">
    <h1 class="ui dividing header">
      <div style="float: right">
        <% if user_signed_in? %>
          <% if '/' == request.path %>
            <div class="ui vertical animated button" id="timeline_button">
              <div class="visible content">
                <span class="modified-size-icon"><i class="browser icon"></i></span>
                </div>
              <div class="hidden content">
                <span style="font-size:12px">Timeline</span>
              </div>
            </div>
            <div class="ui vertical animated button" id="calendar_button">
              <div class="visible content">
                <span class="modified-size-icon"><i class="calendar icon"></i></span>
                </div>
              <div class="hidden content">
                <span style="font-size:12px">Calendar</span>
              </div>
            </div>
          <% end %>
          <% unless edit_user_registration_path == request.path %>
            <%= link_to edit_user_registration_path do %>
              <div class="ui vertical animated button" id="edit_button">
                <div class="visible content">
                  <span class="modified-size-icon"><i class="icon settings"></i></span>
                </div>
                <div class="hidden content">Edit</div>
              </div>
            <% end %>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="ui vertical animated button" id="logout_button">
              <div class="visible content">
                <span class="modified-size-icon"><i class="icon sign out"></i></span>
              </div>
              <div class="hidden content">Logout</div>
            </div>
          <% end %>
        <% end %>
      </div>

      <a id=logo href=/>
        <span id=main>SNUCMS</span><br>
        <span id=sub>SNUCSE Course Management System</span>
      </a>
    </h1>

    <% if not notice.nil? %>
      <div class="ui icon success message">
        <i class="close icon"></i>
        <div class="content">
          <p class="notice"><%= notice %></p>
        </div>
      </div>
    <% end %>
    <% if not alert.nil? %>
      <div class="ui icon error message">
        <i class="close icon"></i>
        <i class="attention circle icon"></i>
        <div class="content">
          <p class="alert"><%= alert.html_safe %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= yield %>

</body>
</html>
