<!DOCTYPE html>
<html>
<head>
  <title>Snucms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="ui page grid">
  <div class="ten wide column">
    <h1 class="ui header">SNUCSE CMS</h1>
  </div>
  <div class="six wide column right aligned">
      <% if user_signed_in? %>
        <% unless edit_user_registration_path == request.path %>
          <%= link_to edit_user_registration_path do %>
            <i class="icon settings"></i>
          <% end %>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="icon sign out"></i>
        <% end %>
      <% end %>
  </div>
</div>
<%= yield %>

</body>
</html>
